<div style="width: 600px; margin: 0 auto;">
	<h2 align="left">As-Salamu aleikum liebe/r Schwester/Bruder,</h2><br/>
	<p>Es freut uns, dass Du Dich dazu entschieden hast Deine Reise mit uns anzutreten. Im Folgenden siehst Du den Überblick Deiner Buchung. In Kürze erhältst Du von uns weitere Informationen zu Deiner Reise. </p>

	<h3 align="center">Individuelles Datum anfordern</h3>
	<table width="100%">
		<tr>
			<td valign="top">Details zur Reise</td>
			<td align="right" valign="top">
				<table width="100%">
					<tr>
						<td valign="top">Details zur Reise</td>
						<td valign="top" align="right">: <strong>{newDateRequest.trip.title}</strong></td>
					</tr>
					<tr>
						<td valign="top">Reise Startdatum</td>
						<td valign="top" align="right">: <strong>{newDateRequest.startdate}</strong></td>
					</tr>
					<tr>
						<td valign="top">Reise Endtermin</td>
						<td align="right">: <strong>{newDateRequest.enddate}</strong></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">Gast Einzelheiten</td>
			<td align="right" valign="top">
				<table width="100%">
					<tr>
						<td valign="top">Gast Einzelheiten</td>
						<td align="right">: <strong>{newDateRequest.firstname} {newDateRequest.lastname}</strong></td>
					</tr>		
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">Allgemeine Information</td>
			<td align="right" valign="top">
				<table width="100%">
					<tr>
						<td valign="top">Tel</td>
						<td align="right">: <strong>{newDateRequest.telephone}</strong></td>
					</tr>
					<tr>
						<td valign="top">Email</td>
						<td align="right">: <strong>{newDateRequest.email}</strong></td>
					</tr>
					<tr>
						<td valign="top">street</td>
						<td align="right">: <strong>{newDateRequest.street}</strong></td>
					</tr>
					<tr>
						<td valign="top">city and plz</td>
						<td align="right">: <strong>{newDateRequest.city}, {newDateRequest.zip}</strong></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<p>	<b>Herzliche Grüße <br /> Deine BALCOK Familie</b></p>
</div>