<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<div class="row">
	<f:for each="{trips}" as="trip">
		<div class="tab{f:format.date(date: trip.travelperiodstart,format:'m')} tab-item">
			<div class="row d-md-flex">
				<div class="col-md-4 d-md-flex">
					<f:for each="{trip.image}" as="img" iteration="iterator">
						<f:if condition="{iterator.index} == '0' ">
							<f:then>
								<f:link.action action="show" controller="Trip" pluginName="Nwtripdetail" pageUid="{settings.flexform.detail.pid}" arguments="{trip: trip}" style="background-image:url('{img.originalResource.publicUrl}');" class="trip-image align-self-stretch d-md-flex">
									<f:image image="{img}" height="200c" width="200c" class="img-responsive"/>
								</f:link.action>
							</f:then>
						</f:if>
					</f:for>
				</div>
				
				<div class="col-md-8">
                	<div class="trip-detail">
                		<f:link.action action="show" controller="Trip" pageUid="{settings.flexform.detail.pid}" extensionName="NwsTripmanage" pluginName="Nwtripdetail" arguments="{trip : trip}">
                        <h4>{trip.title}</h4>
                    	</f:link.action>
                    	<div class="trip-description">
							{trip.description -> f:format.crop(maxCharacters: '100', respectWordBoundaries:'1') -> f:format.html()}
						</div>
                        <div class="row trip-row">
                        	<div class="col-sm-6">
                                <div class="trip-duration">{trip.travelperiodstart -> f:format.date()}-{trip.travelperiodend -> f:format.date()}</div>    	
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="trip-price">
                                	<vh:dayDiff fromDate="{trip.travelperiodstart -> f:format.date()}" toDate="{trip.travelperiodend -> f:format.date()}"/>
                                	<f:translate id="tx_nwstripmanage_domain_model_trip.days" />
                                	<span><f:format.currency currencySign="€" >{trip.priceperperson}</f:format.currency></span>
                                </div>    	
                            </div>
                        </div>
                        <f:link.action action="show" controller="Trip" extensionName="NwsTripmanage" pluginName="Nwtripdetail" pageUid="{settings.flexform.detail.pid}" arguments="{trip : trip}" class="trip-link">
                        	<em class="icon icon-arrow-right"></em>
                    	</f:link.action>
                    </div>
				</div>
			</div>
		</div>
	</f:for>
</div>


<f:comment>
	<table  class="tx_nwstripmanage" >
		<tr>
			<th><f:translate key="tx_nwstripmanage_domain_model_trip.title" /></th>
			<th><f:translate key="tx_nwstripmanage_domain_model_trip.image" /></th>
			<th><f:translate key="tx_nwstripmanage_domain_model_trip.description" /></th>
			<th><f:translate key="tx_nwstripmanage_domain_model_trip.itinerary" /></th>
			<th><f:translate key="tx_nwstripmanage_domain_model_trip.hotelimages" /></th>
			<th><f:translate key="tx_nwstripmanage_domain_model_trip.travelperiodstart" /></th>
			<th><f:translate key="tx_nwstripmanage_domain_model_trip.travelperiodend" /></th>
			<th><f:translate key="tx_nwstripmanage_domain_model_trip.priceperperson" /></th>
			<th> </th>
			<th> </th>
		</tr>

		<f:for each="{trips}" as="trip">
			<tr>
				<td><f:link.action action="show" arguments="{trip : trip}"> {trip.title}</f:link.action></td>
				<td><f:link.action action="show" arguments="{trip : trip}"> {trip.image.originalResource.name}</f:link.action></td>
				<td><f:link.action action="show" arguments="{trip : trip}"> {trip.description}</f:link.action></td>
				<td><f:link.action action="show" arguments="{trip : trip}"> {trip.itinerary}</f:link.action></td>
				<td><f:link.action action="show" arguments="{trip : trip}"> {trip.hotelimages.originalResource.name}</f:link.action></td>
				<td><f:link.action action="show" arguments="{trip : trip}"> {trip.travelperiodstart -> f:format.date()}</f:link.action></td>
				<td><f:link.action action="show" arguments="{trip : trip}"> {trip.travelperiodend -> f:format.date()}</f:link.action></td>
				<td><f:link.action action="show" arguments="{trip : trip}"> {trip.priceperperson}</f:link.action></td>
				<td><f:link.action action="edit" arguments="{trip : trip}">Edit</f:link.action></td>
				<td><f:link.action action="delete" arguments="{trip : trip}">Delete</f:link.action></td>
			</tr>
		</f:for>
	</table>

	<f:link.action action="new">New Trip</f:link.action>
</f:comment>
</f:section>
</html>